<% layout("/layouts/boilerplate") %>

<body>
      <div class="row offset-2" >
        <div class="col-8 mt-3">
    <h3>Product Details:</h3>
</div>

   <div class="col-6 mt-3 style=">
    <div class="card" style="height: 20rem; width: 20rem;"   >
        <img src="<%= Listing.image.url %> "
        class="card-img-top show-img" 
        alt="Listing image"
        style="height: 35rem; width: 20rem;"
        >
    </div>
        <div class="card-body">
          <p class="card-text">
           <b><li><%= Listing.title %></li></b> 
           <li><%= Listing.description %></li>
            <li>&#8377;<%= Listing.price.toLocaleString("en-In") %></li>
           <li><%= Listing.rating %></li>
      

        </div>

          </p>
        </div>
    


    
    </div>

    
    <% if (User && User.isAdmin) { %>

    <div class="btns">
        <div class="col-1">
            <a href="/listings/<%= Listing.id %>/edit" class="btn btn-dark ">edit </a>
    
        </div>
    <div class="col-1">
        <form action="/listings/<%= Listing.id %>/?_method=delete" method="post">
            <button class="btn delete btn-dark">delete</button>
        </form>
    </div>
   
</div>

<% } %>
</body>
