<% layout("/layouts/boilerplate") %>

<body>
      <div class="row offset-2" >
        <div class="col-9 mt-3">
     <h2><%= Listing.title %></h2>  
</div>

   <div class="col-8 mt-3 style=">
    <div class="card" style="height: 20rem; width: 20rem;"   >
        <img src="<%= Listing.image.url %> "
        class="card-img-top show-img" 
        alt="Listing image"
        style="height: 35rem; width: 20rem;"
        >
    </div>
        <div class="card-body">
          <p class="card-text">
        
          <p><b>Description :</b><br>
            <%= Listing.description %> </p>
            <p>
                <b>Price : </b>&#8377;<%= Listing.price.toLocaleString("en-In") %>
            </p>
           <p><b>Product Rating : <%= Listing.rating %>&#11088;</b></p>
           
      

        </div>

          </p>
        </div>
    


    
    

    
    <% if (User && User.isAdmin) { %>

    <div class="btns">
        <div class="col-1">
            <a href="/listings/<%= Listing.id %>/edit" class="btn btn-dark ">edit </a>
    
        </div>
    <div class="col-1">
        <form action="/listings/<%= Listing.id %>/?_method=delete" method="post">
            <button class="btn delete btn-dark">delete</button>
        </form>
    </div>
   
</div>
<% } %>
</div>
</body>
